@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostForCustomDateParts">
    <govuk-date-input for="CustomMonthAndYear" />

    <govuk-button type="submit">Save</govuk-button>
</form>
