@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostForCustomDate">
    <govuk-date-input for="CustomDate" />

    <govuk-button type="submit">Save</govuk-button>
</form>
