@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostAspForDate">
    <govuk-date-input for="Date" />

    <govuk-button type="submit">Save</govuk-button>
</form>
