@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostForDateParts">
    <govuk-date-input for="MonthAndYear" />

    <govuk-button type="submit">Save</govuk-button>
</form>
