@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostCustomDateParts">
    <govuk-date-input value="@Model.CustomMonthAndYear" id="Date" name-prefix="CustomMonthAndYear" />

    <govuk-button type="submit">Save</govuk-button>
</form>
