@page

<govuk-summary-list>
    <row>
        <key>Name</key>
        <value>Sarah Philips</value>
        <row-actions>
            <action href="#" visually-hidden-text="name">Change</action>
        </row-actions>
    </row>
    <row>
        <key>Date of birth</key>
        <value>5 January 1978</value>
        <row-actions>
            <action href="#" visually-hidden-text="date of birth">Change</action>
        </row-actions>
    </row>
    <row>
        <key>Contact information</key>
        <value>72 Guild Street<br>London<br>SE23 6FH</value>
        <row-actions>
            <action href="#" visually-hidden-text="contact information">Change</action>
        </row-actions>
    </row>
    <row>
        <key>Contact details</key>
        <value>
            <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>
        </value>
        <row-actions>
            <action href="#" visually-hidden-text="contact details">Change</action>
        </row-actions>
    </row>
</govuk-summary-list>
