@page

@section Footer {
    <example>
        <govuk-footer>
            <govuk-footer-nav width="two-thirds" columns="2">
                <govuk-footer-nav-title>Services and information</govuk-footer-nav-title>
                <govuk-footer-nav-items>
                    <govuk-footer-nav-item href="#">Benefits</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Births, deaths, marriages and care</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Business and self-employed</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Childcare and parenting</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Citizenship and living in the UK</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Crime, justice and the law</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Disabled people</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Driving and transport</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Education and learning</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Employing people</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Environment and countryside</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Housing and local services</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Money and tax</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Passports, travel and living abroad</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Visas and immigration</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Working, jobs and pensions</govuk-footer-nav-item>
                </govuk-footer-nav-items>
            </govuk-footer-nav>
            <govuk-footer-nav width="one-third">
                <govuk-footer-nav-title>Departments and policy</govuk-footer-nav-title>
                <govuk-footer-nav-items>
                    <govuk-footer-nav-item href="#">How government works</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Departments</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Worldwide</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Policies</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Publications</govuk-footer-nav-item>
                    <govuk-footer-nav-item href="#">Announcements</govuk-footer-nav-item>
                </govuk-footer-nav-items>
            </govuk-footer-nav>
            <govuk-footer-meta>
                <govuk-footer-meta-items>
                    <govuk-footer-meta-item href="#">Help</govuk-footer-meta-item>
                    <govuk-footer-meta-item href="#">Cookies</govuk-footer-meta-item>
                    <govuk-footer-meta-item href="#">Contact</govuk-footer-meta-item>
                    <govuk-footer-meta-item href="#">Terms and conditions</govuk-footer-meta-item>
                    <govuk-footer-meta-item href="#" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</govuk-footer-meta-item>
                </govuk-footer-meta-items>
                <govuk-footer-meta-content>Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a></govuk-footer-meta-content>
            </govuk-footer-meta>
        </govuk-footer>
    </example>
}
