@page
@{
    Layout = null;
}

<govuk-notification-banner>
    <govuk-notification-banner-title>
        Default Title
    </govuk-notification-banner-title>
    <p class="govuk-notification-banner__heading">
        This uses default values
    </p>
</govuk-notification-banner>
