@page

<example>
    <govuk-summary-card>
        <title>University of Gloucestershire</title>
        <card-actions>
            <action href="#" visually-hidden-text="of University of Gloucestershire">Delete choice</action>
            <action href="#" visually-hidden-text="from University of Gloucestershire">Withdraw</action>
        </card-actions>
        <govuk-summary-list>
            <row>
                <key>Course</key>
                <value>English (3DMD)<br>PGCE with QTS full time</value>
            </row>
            <row>
                <key>Location</key>
                <value>School name<br>Road, City, SW1 1AA</value>
            </row>
        </govuk-summary-list>
    </govuk-summary-card>
</example>
