name: "Build & release"

on:
  push:
    branches:
      - main
      - dev
    tags:
      - v*
    paths-ignore:
      - docs/**
      - LICENSE
      - "**.md"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - docs/**
      - LICENSE
      - "**.md"

jobs:
  build:
    name: "Build library"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-configuration: [ Debug, Release ]
    env:
      DOTNET_CLI_WORKLOAD_UPDATE_NOTIFY_DISABLE: true

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # required for minver to create the right version number
          filter: tree:0

      - uses: jdx/mise-action@v3

      - name: Install tools
        run: just install-tools

      - name: Restore
        run: just restore

      - name: Format
        run: just format --verify-no-changes

      - name: Build
        run: just build --configuration ${{ matrix.build-configuration }} --no-restore

      - name: Install Playwright
        run: just install-playwright

      - name: Test
        run: |
          just unit-tests --configuration ${{ matrix.build-configuration }} --no-build
          just integration-tests --configuration ${{ matrix.build-configuration }} --no-build

      - name: Check documentation
        if: matrix.build-configuration == 'Release'
        run: |
          just publish-docs --configuration ${{ matrix.build-configuration }}

          changes=$(git status --porcelain docs ':!docs/images' | cut -c 4-)
          if [ -n "$changes" ]
          then
            echo "::error ::Documentation is stale"
            exit 1
          fi

      - name: Assign package build metadata
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "MINVERBUILDMETADATA=build.${{ github.run_id }}.${{ github.run_attempt}}" >> $GITHUB_ENV

      - name: Pack
        if: matrix.build-configuration == 'Release'
        run: just pack --configuration ${{ matrix.build-configuration }}

      - name: Publish package artifact
        if: matrix.build-configuration == 'Release'
        uses: actions/upload-artifact@v6
        with:
          name: GovUk.Frontend.AspNetCore.nupkg
          path: packages/*.nupkg

  build_samples:
    name: "Build samples"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - uses: jdx/mise-action@v3

      - name: Install tools
        run: just install-tools

      - name: Build samples
        run: just build-samples --configuration Release

  release:
    name: "Publish package to NuGet"
    runs-on: ubuntu-latest
    needs: [build, build_samples]
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      id-token: write

    steps:
      - uses: jdx/mise-action@v3

      - name: Download package artifact
        uses: actions/download-artifact@v7
        with:
          name: GovUk.Frontend.AspNetCore.nupkg

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish package to NuGet
        run: dotnet nuget push **/*.nupkg --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
